!!!
html
  head
    title #{!!pageTitle ? pageTitle + ' | ' : ''} #{siteTitle}

    meta(name='viewport', content='width=device-width, initial-scale=.9')

    meta(property="article:publisher", content="http://www.fusespc.com")
    meta(property="og:type", content="article")
    meta(property="og:url", content=rootUrl + '/' + current.path.join('/'))
    meta(property="og:title", content=!!pageTitle ? pageTitle : siteTitle)
    meta(property="og:image", content=rootUrl + '/images/fuse-avatar-v3.jpg')

    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Dosis:200,400,600')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='shortcut icon', href='/images/favicon.png', type='image/x-icon')

  body
    header: .wrapper
      a.branding(href='/')
        img(src='/images/fuse-branding.png', alt='Fuse | Coworking, Tri-Cities, WA')
      nav
        a(href='/about') About
        a(href='/stories') Stories
        a(href='/membership') Membership
        a(href='/board') Board
        a(href='/contact') Contact

    article
      != yield

    footer: .wrapper
      a.branding(href='/')
        img(src='/images/fuse-branding-white.png', alt='Fuse | Coworking, Tri-Cities, WA')
      p.legal
        | &copy; Copyright #{new Date().getFullYear()} Fuse, SPC
        a(href='/privacy') Privacy
        a(href='/terms') Terms

    script(src='/js/jquery-2.1.1.min.js')
    script(src='/js/app.js')
    if !!scripts
      for script in scripts
        script(src='/js/'+script+'.js')
