section: .wrapper
  h1= pageTitle
  dl
    dt Email
    dd: a(href="mailto:" + contact.email)= contact.email
    dt Call
    dd= contact.phone
    dt Location
    dd
      a(target="_blank", href=location.map.shareURL)= location.label
      | #{location.street}<br>
      | #{location.city}, #{location.state} #{location.zip}

section.map
  iframe(width="100%", height="480px", frameBorder=0, src=location.map.embedURL)
