section: .wrapper
  h1= pageTitle
  .block.fourcol
    blockquote.col1
      h3 Startup<br>Businesses
      p Giving birth to a new idea and looking for support and encouragement?
    blockquote.col2
      h3 Freelancers<br>&amp; Contractors
      p Work well alone but find yourself craving more connection?
    blockquote.col3
      h3 Remote<br>Workers
      p Need a place that isn't as isolating as your home office or living room?
    blockquote.col4
      h3 Community<br>Builders
      p Interested in our events or hosting your own for the community?

section.pricing: .wrapper
  h1 Monthly Packages

  table.wide
    thead
      tr
        th
        th Seating
        th Event Access
        th Conference<br>Room Use
        th Locked<br>Desk/Room
        th.alignr Price
    tbody
      each package, p in membershipPackages
        - className = p % 2 ? 'even' : 'odd'
        tr(class=className)
          th.alignl= package.name
          td
            if !!package.features.seating
              = package.features.seating
            else
              mark.no No
          td
            if package.features.events
              mark.yes Yes
            else
              mark.no No
          td
            if typeof(package.features.conferences) == 'number'
              mark.yes Yes
            else if typeof(package.features.conferences) == 'boolean'
              if package.features.conferences
                mark.yes Yes
              else
                mark.no No
            else
              = package.features.conferences
          td
            if package.features.lockable
              mark.yes Yes
            else
              mark.no No
          th.alignr= package.price
        if !!package.notes
          tr(class=className)
            td(colspan=6).alignl
              p.notes= package.notes

  table.narrow
    tbody
      each package, p in membershipPackages
        - className = p % 2 ? 'even' : 'odd'
        tr(class=className)
          td.alignc
            h3= package.name
            mark.price= package.price
            p.list
              if !!package.features.seating
                span #{package.features.seating} Seating
              if !!package.features.events
                span Access to events
              if package.features.conferences > 0
                span
                  br
                  = package.features.conferences
                  |  one-hour conference room credit
                  = package.features.conferences == 1 ? '' : 's'
              if !!package.features.lockable
                span Locked Desk/Room
            if !!package.notes
              p.notes= package.notes
